<div class="btn-group my-actions">
  <a class="btn btn-primary dropdown-toggle user-display-name" data-toggle="dropdown" href="#">
    <%= current_user.name.blank? ? 'Me' : current_user.name %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% include_works_link ||= can_ever_create_works? %>
    <% include_collections_link ||= can?(:create, Collection) %>
    <li><%= link_to 'Log Out', main_app.destroy_session_path, class: 'log-out', role: 'menuitem' %></li>
  </ul>
</div>

