<div class="row">
  <div class="col-md-12" id="primary-information">
    <%= render "curation_concern/base/form_primary_information", curation_concern: curation_concern, f: f %>
  </div>
</div>

<div class="row">
  <div class="col-md-6" id="required-information">
    <%= render "curation_concern/base/form_required_information", curation_concern: curation_concern, f: f %>
  </div>

  <%# render 'form_editors', f: f %>

  <div class="col-md-6" id="additional-information">
    <%= render "curation_concern/base/form_additional_information", curation_concern: curation_concern, f: f %>
  </div>
</div>
