li.attribute.hierarchical {
  margin-bottom: 10px;

  .label {
    text-align: right;
    width: 80px;
    float: left;
    margin-top: .25em;
    color: black;
  }
}

.listing.hierarchical {
  li {
    padding-bottom: 1.5em;
  }
  span.input-group-btn.field-controls {
    background-color: ghostwhite;
    button.add {
      width: 90px;
    }
  }
  div {
      padding-right: 0px;
  }
  .field-wrapper {
      list-style-type: none;
  }
}

.listing {
  span.input-group-btn.field-controls {
    button.add {
      width: 90px;
    }
    button.remove {
      width: 90px;
    }
  }
  padding-right: 0px;
  margin-right: 0px;
}

.form-group {
    ul.listing {
        max-width: 100%;
    }
//  select {
//      width: auto;
//  }
    input.radio {
        display: inline;
        margin-right: 5px;
    }
}

li.field-wrapper {
    margin-right: 0px;
}

label.control-label {
    padding-left: 0px;
    margin-bottom: 0px;
}

td.attribute {
    padding: 6px;
}
